/** 테블릿 **/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header_top {
    height: 30px;
    width: 100%;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  #site {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #site > ul > li {
    width: 153px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }

  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }
  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 상단 로고 */
  .header_bottom .logo {
    padding: 10px;
    margin: 0;
    display: block;
    float: left;
  }

  /* 메인 비쥬얼 숨김 */
  .main_visual_img .big_main_img {
    display: none;
  }
  .main_visual_img .mobile_small_img {
    margin-top: -5px;
    display: none;
  }
  .main_visual_img .tablet_img {
    display: block;
  }

  .m_icon {
    float: right;
    transform: translateY(9px);
    margin-right: 20px;
  }
  /* sec1 수정사항 없음 */

  /* sec2 */

  .sec2 {
    width: 100%;
    height: 600px;
    position: relative;
    text-align: center;
  }
  .factory_con {
    margin: 0;
    padding: 0;
    background: url(../images/main/dream_factory_bg.gif) repeat;
    z-index: 5;
  }

  .factory_con .btn_01,
  .btn_02 {
    margin: 0 auto;
    float: none;
    display: inline-block;
  }

  .factory_con > img {
    display: none;
  }
  .factory_con .df_img {
    display: block;
    top: 320px;
    right: -85px;
    z-index: -1;
  }

  .factory_con .factory_text {
    display: block;
    line-height: 50px;
    font-size: 35px;
    font-weight: 700;
  }

  .factory_con > p {
    width: 100%;
    font-size: 17px;
  }

  .factory_con > h2 {
    font-weight: 100;
    font-size: 35px;
    transform: rotateX(324deg);
  }

  /* 모바일 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 55px;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -30px;
  }
  .mobile_con {
    width: 85%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 모바일 로그인 */
  .mobile_account_wrap {
    width: fit-content;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 90px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
  }
  /* 모바일 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    gap: 10px;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 모바일 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 모바일 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 0px 15px 450px;
  }
  .mobile_search input {
    width: 150px;
    height: 20px;
  }
  /* 모바일 메뉴 끝 */

  .sec4,
  .sec5,
  footer {
    display: none;
  }
}
