@charset 'utf-8';
/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 13px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }

  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }
  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }

  /* ---------------------------------------------------------------------- */
  /* 모바일 sec1 */
  .sec1 {
    background-size: 194%;
    background-position: top;
  }
  .sub_top_title {
    padding: 52px 0 47px;
  }
  .sub_top_title h1 {
    font-size: 30px;
  }
  .sub_txt_line {
    display: none;
  }
  .sub_btn a {
    width: 100%;
    height: 37px;
    border: 1px solid #b7b7bb;
    color: black;
    background-color: #fff;
    margin: 0;
  }
  .sub_btn a:first-child {
    background-color: #84847c;
    color: #ffffff;
  }

  /* sec2 */
  .been_main_con {
    width: 95%;
    margin: 0 auto;
  }
  .sub_timepage {
    display: none;
  }
  .sec2 h1 {
    padding: 46px 10px 36px 18px;
    box-sizing: border-box;
  }

  .sec2 h1::after {
    width: 291px;
  }
  .sub_been_intro_wrap .been_card1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sub_been_intro_wrap .been_card2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .sub_been_intro_wrap .been_card3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sub_been_intro_wrap .card1 {
    line-height: 20px;
    padding-bottom: 19px;
    background: url(../images/menu/bean_info_line.gif) no-repeat bottom center;
    box-sizing: border-box;
  }
  .sub_been_intro_wrap .card2 {
    line-height: 36px;
    padding: 13px;
    background: url(../images/menu/bean_info_line.gif) no-repeat bottom center;
    box-sizing: border-box;
  }
  .sub_been_intro_wrap .card3 {
    line-height: 36px;
    padding: 11px;
    background: url(../images/menu/bean_info_line.gif) no-repeat bottom center;
    box-sizing: border-box;
  }
  .been_card1 > p {
    text-align: center;
    font-size: 16px;
    word-break: break-all;
    padding: 16px;
    box-sizing: border-box;
  }
  .been_card2 > p {
    margin: 0;
    text-align: center;
    font-size: 16px;
    word-break: keep-all;
  }

  .been_card3 > p {
    font-size: 16px;
    margin: 0;
    text-align: center;
    word-break: keep-all;
    padding: 14px;
    box-sizing: border-box;
  }
  /* sec3 */
  .sec3 .been_main_con {
    padding: 0;
  }
  .sec3 .been_sec3_txt {
    width: 94%;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin: 0 auto;
    line-height: 20px;
    padding: 34px 10px;
  }
  .been_sec3_txt span {
    margin-top: 20px;
  }
  /* sec4 */
  .been_char_wrap {
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 20px;
  }
  /* sec5 */
  .been_type_card_wrap {
    flex-direction: column;
    gap: 10px;
  }
  .been_typ_card {
    width: 100%;
    margin: 0;
  }
  .been_typ_card h2 {
    font-size: 18px;
    font-weight: 600;
  }
  /* sec6 */

  .been_roasting_con {
    flex-direction: column;
    height: 100%;
  }

  .been_roasting_img {
    overflow: visible;
  }
  .been_roasting_img img {
    object-fit: cover;
    width: 96.7%;
  }
  /* sec7 */
  .been_blending_wrap {
    flex-direction: column;
    padding: 18px;
    box-sizing: border-box;
  }

  .been_blending_txt h2 {
    padding: 0;
    text-align: center;
    line-height: 25px;
  }
  /* ---------------------------------------------------------------------- */
  /* 모바일 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 모바일 로그인 */
  .mobile_account_wrap {
    width: auto;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    padding: 10px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 10px;
  }
  /* 모바일 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 모바일 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 모바일 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 145px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
  /* 모바일 메뉴 끝 */

  /* footer */
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_top {
    margin: 0;
    padding: 0;
  }
  .footer_menu {
    display: block;
    text-align: center;
    padding: 0;
    position: relative;
  }
  .footer_menu ul {
    width: 100%;
    display: block;
    margin: 0 auto;
    display: inline-block;
    margin: 3px 30px 3px 0;
  }

  .footer_select_box {
    display: none;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    padding: 18px 40px 4px;
  }
  .footer_bottom img {
    margin-top: 20px;
  }
  .footer_sbox {
    order: 0;
  }

  .footer_bottom .footer_right_logo {
    position: static;
    order: -1;
    z-index: 1;
  }
  /* 모바일 끝 */
}
/** 테블릿 **/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header_top {
    height: 30px;
    width: 100%;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  #site {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #site > ul > li {
    width: 153px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }
  #menu > ul {
    display: none;
  }
  /* 테블릿 상단 검색창*/

  .search_wrap {
    display: none;
  }
  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 테블릿 상단 로고 */
  .header_bottom .logo {
    padding: 10px;
    margin: 0;
    display: block;
    float: left;
  }

  .m_icon {
    float: right;
    transform: translateY(9px);
    margin-right: 20px;
  }

  .been_main_con {
    width: 100%;
  }
  /* 테블릿 sec1 */
  .sec1 {
    margin-top: 50px;
  }
  .sub_btn a {
    margin: 0;
    border: 1px solid #84847c;
  }
  .sub_btn a:first-child {
    background-color: #84847c;
    color: #fff;
  }
  .sub_btn a:hover {
    background-color: #84847c;
    color: #fff;
  }
  /* 테블릿 sec 2 */
  .sub_timepage {
    display: none;
  }
  .sub_been_intro_wrap div {
    flex-direction: column;
  }
  .sub_been_intro_wrap .card1 {
    background: url(../images/menu/bean_info_line.gif) no-repeat bottom center;
  }

  .sub_been_intro_wrap .card2 {
    background: url(../images/menu/bean_info_line.gif) no-repeat bottom center;
    padding: 0px 28px;
  }
  .sub_been_intro_wrap .card3 {
    background: url(../images/menu/bean_info_line.gif) no-repeat bottom center;
  }
  .sub_been_intro_wrap .been_card1 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .sub_been_intro_wrap .been_card2 {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  .sub_been_intro_wrap .been_card3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .been_card1 > p {
    font-size: 13px;
    text-align: center;
  }
  .been_card2 > p {
    font-size: 13px;
    margin: 0 auto;
  }
  .been_card3 > p {
    font-size: 13px;
    text-align: center;
    margin: 0 auto;
  }
  /* 테블릿 sec 3 */
  .sec3 .been_main_con {
    width: 95%;
    padding: 30px;
    box-sizing: border-box;
  }
  .sec3 .been_sec3_txt {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 45px;
  }
  /* 테블릿 sec 4 */

  .been_char_wrap {
    width: 95%;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    margin: 0 auto;
  }
  .sec4 h3 {
    margin: 37px 0px 40px 10px;
  }
  .been_char_txt {
    font-size: 16px;
    text-align: center;
  }
  .been_char_img {
    padding: 0;
  }

  /* 테블릿 sec 5 */
  .sec5 .pc_img {
    display: none;
  }
  .sec5 .mt_img {
    display: block;
    margin: 0 auto;
  }
  .been_type_card_wrap {
    width: 95%;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
  }
  .been_typ_card {
    width: 640px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .sec5 h3 {
    margin: 37px 0px 40px 10px;
  }
  /* 테블릿 sec 6 */
  .sec6 h3 {
    margin: 37px 0px 40px 10px;
  }
  .been_roasting_con {
    flex-direction: column;
    width: 95%;
    height: 100%;
    margin: 0 auto;
  }

  .been_roasting_img {
    width: 100%;
    height: 100%;
  }
  .been_roasting_img img {
    object-fit: cover;
    width: 100%;
  }
  .roasting_txt1,
  .roasting_txt2,
  .roasting_txt3,
  .roasting_txt4,
  .roasting_txt5,
  .roasting_txt6,
  p {
    color: #202023;
    font-weight: 500;
    font-size: 15px;
    width: 100%;
  }

  /* 테블릿 sec 7 */
  .sec7 h3 {
    margin: 37px 0px 40px 10px;
  }
  .been_blending_wrap {
    flex-direction: column;
    padding: 18px;
    box-sizing: border-box;
    width: 95%;
    margin: 0 auto;
  }

  .been_blending_txt h2 {
    padding: 0;
    text-align: center;
    line-height: 25px;
  }
  /* ---------------------------------------------------------------- */
  /* 테블릿  모바일 메뉴 왼쪽 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 55px;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -30px;
  }
  .mobile_con {
    width: 85%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 테블릿 로그인 */
  .mobile_account_wrap {
    width: fit-content;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
  }
  /* 테블릿 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 테블릿 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 테블릿 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 0px 15px 450px;
  }
  .mobile_search input {
    width: 150px;
    height: 20px;
  }
  /* 테블릿 footer */
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_select_box {
    display: none;
  }
  .footer_menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 10px 78px;
    box-sizing: border-box;
  }
  .footer_menu ul li {
    display: inline-block;
    margin: 2px 10px 0px 6px;
  }
  .footer_bottom {
    padding: 10px;
    padding-top: 150px;
    box-sizing: border-box;
  }
  .footer_sbox {
    margin-bottom: 20px;
  }
  .footer_bottom .footer_right_logo {
    right: 332px;
    top: 30px;
  }
}
/* 노트북 */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 96px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }

  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }

  /* 노트북 모바일 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 노트북 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }

  .m_xicon img {
    padding: 21px 38px 0 100px;
  }
  /* 노트북  사이드 전체 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 노트북 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 709px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
  /* footer*/
  .footer_select_box {
    display: none;
  }
  .footer_sbox {
    display: block;
  }
  .footer_bottom {
    padding: 20px;
  }
  .footer_sbox {
    margin-bottom: 21px;
  }
  .footer_bottom .footer_right_logo {
    right: 52px;
    top: 67px;
  }
  .been_main_con {
    width: 100%;
  }
  /* 노트북 sec1 */
  .sec1 {
    background-size: contain;
  }
  .sub_txt_line {
    display: block;
  }

  .sub_btn a {
    border: 1px solid #84847c;
    color: #000;
    width: 100%;
    margin: 0;
  }

  .sub_btn a:first-child {
    background-color: #84847c;
    color: #fff;
  }
  .sub_btn a:hover {
    background-color: #84847c;
    color: #fff;
  }

  /* 노트북 sec 2 */

  .sub_timepage > p {
    display: none;
  }
  .sub_been_intro_wrap .card1 {
    width: 95%;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 20px;
  }
  .sub_been_intro_wrap .card2 {
    width: 95%;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 20px;
  }
  .sub_been_intro_wrap .card3 {
    width: 95%;
    font-size: 18px;
    line-height: 27px;
    padding-bottom: 20px;
  }
  .been_card1 > img {
    width: 409px;
    height: 298px;
  }
  .been_card2 > img {
    width: 409px;
    height: 298px;
  }
  .been_card3 > img {
    width: 409px;
    height: 298px;
  }
  .been_card1 > p {
    margin-top: 100px;
  }
  .been_card2 > p {
    margin-top: 100px;
  }
  .been_card3 > p {
    margin-top: 100px;
  }
  /* 노트북 sec 3 */
  .sec3 .been_main_con {
    width: 95%;
  }
  .sec3 .been_sec3_txt {
    font-size: 13px;
  }
  /* 노트북 sec 4 */
  .been_char_wrap {
    width: 95%;
    gap: 56px;
    margin: 0 auto;
  }
  .sec4 h3 {
    margin: 37px 0px 0px 48px;
  }
  /* 노트북 sec 5 */
  .sec5 {
    width: 95%;
  }
  .sec5 h3 {
    margin: 37px 0px 29px 48px;
  }
  .sec5 .pc_img {
    width: 928px;
    margin: 0 auto;
  }
  .been_type_card_wrap {
    gap: 0;
    width: 92%;
    margin: 0 auto;
  }
  .been_typ_card {
    width: 49%;
    margin-top: 10px;
  }
  /* 노트북 sec 6 */
  .sec6 h3 {
    margin: 37px 0px 29px 48px;
  }
  .been_roasting_con {
    width: 92%;
    margin: 0 auto;
  }
  .roasting_txt1,
  .roasting_txt2,
  .roasting_txt3,
  .roasting_txt4,
  .roasting_txt5,
  .roasting_txt6,
  p {
    color: #202023;
    font-weight: 500;
    font-size: 13px;
  }
  .roasting_txt1,
  .roasting_txt2,
  .roasting_txt3,
  .roasting_txt4,
  .roasting_txt5,
  .roasting_txt6,
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #202023;
    font-weight: 600;
  }
  /* 노트북 sec 7 */
  .sec7 h3 {
    margin: 37px 0px 29px 48px;
  }
  .been_blending_wrap {
    flex-direction: column;
    width: 91%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1280px) {
  /* sec2-7수정건 없음 */
  /* sec1 */
  .sub_btn a {
    width: 100%;
    background-color: #fff;
    color: #000;
    border: 1px solid #84847c;
  }
  /* footer */
  .footer_menu ul {
    padding: 15px;
  }
  .footer_sbox {
    display: none;
  }

  .footer_bottom .footer_right_logo {
    right: 31px;
    top: 45px;
  }
}
