@charset 'utf-8';
/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 13px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }

  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }
  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* ----------------------------------------------------------------------- */

  .been_customer_con {
    width: 100%;
  }
  /* 모바일 sec1  */
  .been_customer_sec1 {
    height: 220px;
    background-position: -221px;
    background-size: 850px;
    padding: 0;
  }
  .been_customer_sec1 h1 {
    font-size: 30px;
    line-height: 149px;
  }
  .been_customer_sec1 p {
    display: none;
  }
  /* 선 */

  .been_customer_btn {
    width: 100%;
    height: fit-content;
    display: block;
    margin-top: 64px;
  }
  .been_customer_btn .cu_btn:last-of-type {
    border-top: none;
  }
  .been_customer_btn .cu_btn:first-of-type {
    border-right: 1px solid #848484;
  }
  /* 모바일 sec2 */
  .customer_list p {
    display: none;
  }

  .been_customer_sec2 p {
    font-size: 24px;
    margin-top: 100px;
    line-height: 32px;
  }
  /* 모바일 sec3 */
  .been_customer_tit h3 {
    font-size: 19px;
  }
  .been_customer_tit h3::after {
    width: 18px;
    margin-top: 18px;
  }
  .been_customer_bg {
    padding: 23px;
  }
  .been_customer_tit p {
    font-size: 17px;
    line-height: 22px;
    margin-top: 20px;
    color: #848484;
    margin-bottom: 30px;
  }

  .been_customer_boxwrap {
    width: 100%;
    height: auto;
    flex-direction: column;
    padding: 0;
    gap: 0px;
  }
  .been_customer_boxwrap img {
    margin-top: 32px;
  }
  .customer_txt {
    font-size: 14px;
    padding: 44px;
    box-sizing: border-box;
  }

  .been_customer_boxwrap a {
    margin-bottom: 50px;
  }
  /* 모바일 sec4 */
  .been_customer_sec4_tit h3 {
    font-size: 20px;
  }
  .been_customer_sec4_tit p {
    font-size: 16px;
    padding: 20px;
  }
  .been_customer_sec4_tit h3::after {
    margin-bottom: 5px;
  }
  .been_customer_sec4_box {
    margin-top: 20px;
    flex-direction: column;
  }
  .sec4_box1 {
    width: 90%;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .customer_sec4_txt h3 {
    font-size: 16px;
  }
  .customer_sec4_txt span {
    font-size: 24px;
  }
  .customer_sec4_txt p {
    font-size: 14px;
  }
  .sec4_box1 a {
    width: 87px;
    font-size: 14px;
  }
  .sec4_box1 > img {
    margin: 0;
  }
  .sec4_box2 {
    width: 90%;
    flex-direction: column;
    text-align: center;
    margin-top: 50px;
  }
  .sec4_customer_btn {
    flex-direction: row;
    gap: 20px;
  }
  .sec4_customer_btn a {
    width: 87px;
    font-size: 14px;
  }
  /* 모바일 sec5 */
  .been_customer_sec5_tit h3 {
    font-size: 20px;
  }
  .been_customer_sec5_tit p {
    font-size: 16px;
  }
  .sec5_bg {
    padding: 12px;
    box-sizing: border-box;
  }
  .sec5_box::after {
    display: none;
  }
  .sec5_box {
    width: 92px;
    height: 89px;
  }
  .been_customer_sec5_wrap {
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
  .sec5_box img {
    width: 60px;
    height: 44px;
    margin: 0 auto;
  }
  /* 모바일 sec6 */
  .been_customer_sec6_tit h3 {
    font-size: 20px;
  }
  .been_customer_sec6_tit p {
    font-size: 16px;
    padding: 12px;
  }
  .been_customer_sec6_tit h3::after {
    margin-bottom: 12px;
  }
  .sec6_table {
    display: none;
  }
  caption {
    display: none;
  }
  .mobile_customer_sec6 {
    width: 90%;
  }

  /* ----------------------------------------------------------------------- */
  /* footer */
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_top {
    margin: 0;
    padding: 0;
  }
  .footer_menu {
    display: block;
    text-align: center;
    padding: 0;
    position: relative;
  }
  .footer_menu ul {
    width: 100%;
    display: block;
    margin: 0 auto;
    display: inline-block;
    margin: 3px 30px 3px 0;
  }

  .footer_select_box {
    display: block;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    padding: 18px 40px 4px;
  }
  .footer_bottom img {
    margin-top: 20px;
  }
  .footer_sbox {
    display: none;
    order: 0;
  }

  .footer_bottom .footer_right_logo {
    position: static;
    order: -1;
    z-index: 1;
  }

  /* 모바일 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 모바일 로그인 */
  .mobile_account_wrap {
    width: auto;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    padding: 10px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 10px;
  }
  /* 모바일 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 모바일 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 모바일 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 145px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
  /* 모바일 메뉴 끝 */
}
/** 테블릿 **/ /** 테블릿 **/ /** 테블릿 **/ /** 테블릿 **/ /** 테블릿 **/ /** 테블릿 **/
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header_top {
    height: 30px;
    width: 100%;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  #site {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #site > ul > li {
    width: 153px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }
  #menu > ul {
    display: none;
  }
  /* 테블릿 상단 검색창*/

  .search_wrap {
    display: none;
  }
  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 테블릿 상단 로고 */
  .header_bottom .logo {
    padding: 10px;
    margin: 0;
    display: block;
    float: left;
  }
  .m_icon {
    float: right;
    transform: translateY(9px);
    margin-right: 20px;
  }
  /* ------------------------------------------------------------------------- */
  /* 테블릿 sec1 */
  .been_customer_wrap {
    margin-top: 50px;
  }
  .been_customer_con {
    width: 100%;
  }
  .been_customer_sec1 {
    height: 220px;
    background-position: -61px;
    background-size: 896px;
    padding: 0;
  }
  .been_customer_sec1 h1 {
    font-size: 48px;
    line-height: 78px;
    padding-top: 50px;
  }

  /* 선 */

  .been_customer_btn {
    width: 100%;
    height: fit-content;
    display: block;
    margin-top: 66px;
  }
  .been_customer_btn .cu_btn:last-of-type {
    border-top: none;
  }
  .been_customer_btn .cu_btn:first-of-type {
    border-right: 1px solid #848484;
  }

  .been_customer_btn .cu_btn a {
    width: 382px;
  }
  /* 테블릿 sec2 */
  .customer_list p {
    display: none;
  }
  .been_customer_sec2 p {
    font-size: 24px;
    margin-top: 100px;
  }
  /* 테블릿 sec3 */
  .been_customer_boxwrap {
    width: 100%;
    gap: 0px;
    position: relative;
    padding: 40px 0px 115px 0px;
  }
  .customer_txt {
    font-size: 14px;
  }
  .been_customer_boxwrap img {
    margin: 0;
  }
  .been_customer_bg {
    padding: 30px;
  }
  .been_customer_boxwrap a {
    width: 117px;
    font-size: 14px;
    position: absolute;
    top: 179px;
    left: 256px;
  }
  .been_customer_tit h3 {
    font-size: 20px;
  }
  /* 테블릿 sec4 */
  .been_customer_sec4_box {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    padding: 30px 0;
  }
  .been_customer_sec4_tit h3 {
    font-size: 20px;
  }

  .customer_sec4_txt span {
    font-size: 24px;
  }
  .customer_sec4_txt p {
    font-size: 14px;
  }
  .sec4_box1 {
    flex-direction: column;
    width: calc(100% - 10px);
  }
  .sec4_box1 a {
    width: 87px;
    height: 33px;
    font-size: 14px;
    line-height: 33px;
  }
  .sec4_box2 {
    flex-direction: column;
    gap: 26px;
    width: calc(100% - 10px);
    padding: 33px;
  }

  .sec4_customer_btn {
    gap: 20px;
    flex-direction: row;
  }
  .sec4_customer_btn a {
    width: 87px;
    height: 33px;
    font-size: 14px;
    line-height: 33px;
  }
  .sec4_box2 > img {
    width: 60px;
    height: 60px;
  }
  /* 테블릿 sec5 */
  .been_customer_sec5_wrap {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .been_customer_sec5_tit h3 {
    font-size: 20px;
    margin: 0;
  }
  .been_customer_sec5_tit p {
    font-size: 16px;
  }
  .sec5_box:nth-child(3)::after {
    display: none;
  }

  /* 테블릿 sec6 */
  .been_customer_sec6_tit h3 {
    font-size: 20px;
  }
  .been_customer_sec6_tit p {
    font-size: 16px;
  }
  .sec6_table {
    display: none;
  }
  caption {
    display: none;
  }
  .mobile_customer_sec6 {
    width: 90%;
  }
  /* ------------------------------------------------------------------------- */
  /* 테블릿 footer */
  footer {
    width: 100%;
    height: 100%;
    /* 다른 메뉴시 삭제 */
    margin-top: 100px;
  }
  .footer_select_box {
    display: none;
  }
  .footer_menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 10px 78px;
    box-sizing: border-box;
  }
  .footer_menu ul li {
    display: inline-block;
    margin: 2px 10px 0px 6px;
  }
  .footer_bottom {
    padding: 10px;
    padding-top: 150px;
    box-sizing: border-box;
  }
  .footer_sbox {
    /* display: block; */
    margin-bottom: 20px;
  }
  .footer_bottom .footer_right_logo {
    right: 332px;
    top: 30px;
  }
  /* 테블릿 메뉴 왼쪽 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 55px;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -30px;
  }
  .mobile_con {
    width: 85%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 테블릿 로그인 */
  .mobile_account_wrap {
    width: fit-content;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
  }
  /* 테블릿 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 테블릿 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 테블릿 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 0px 15px 450px;
  }
  .mobile_search input {
    width: 150px;
    height: 20px;
  }
  .mobile_customer_sec6 {
    display: block;
  }
  /* 테블릿 메뉴 끝 */
}
/* 노트북 */ /* 노트북 */ /* 노트북 */ /* 노트북 */ /* 노트북 */ /* 노트북 */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 96px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }

  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 노트북 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 노트북 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }

  .m_xicon img {
    padding: 21px 38px 0 100px;
  }
  /* --------------------------------------------------------------------------------- */
  /* 노트북 sec1 */
  .been_customer_wrap {
    margin-top: 50px;
  }
  .been_customer_con {
    width: 100%;
    text-align: center;
  }
  .been_customer_sec1 {
    height: 220px;
    background-position: 0px;
    background-size: 1039px;
    padding: 0;
  }
  .been_customer_sec1 h1 {
    font-size: 48px;
    line-height: 78px;
    padding-top: 50px;
  }

  /* 선 */

  .been_customer_btn {
    width: 100%;
    height: fit-content;
    display: block;
    margin-top: 66px;
  }
  .been_customer_btn .cu_btn:last-of-type {
    border-top: none;
  }
  .been_customer_btn .cu_btn:first-of-type {
    border-right: 1px solid #848484;
  }

  .been_customer_btn .cu_btn a {
    width: calc(100% / 2);
  }
  /* 노트북 sec2 */
  .customer_list {
    display: none;
  }
  .been_customer_sec2 p {
    font-size: 24px;
    margin-top: 100px;
  }
  /* 노트북 sec3 */
  .been_customer_boxwrap {
    width: 100%;
    gap: 0px;
    position: relative;
    padding: 40px 0px 115px 0px;
  }
  .customer_txt {
    font-size: 16px;
  }
  .been_customer_boxwrap img {
    margin: 0;
  }
  .been_customer_bg {
    padding: 30px;
  }
  .been_customer_boxwrap a {
    width: 117px;
    font-size: 14px;
    position: absolute;
    top: 177px;
    left: 418px;
  }
  .been_customer_boxwrap img {
    margin-top: 10px;
  }
  /* 노트북 sec4 */
  .been_customer_sec4_box {
    width: 95%;
    margin: 0 auto;
    margin-top: 50px;
  }
  .sec4_box1 {
    flex-direction: column;
    width: calc(100% - 10px);
  }
  .sec4_box1 a {
    width: 118px;
  }
  .sec4_box2 {
    flex-direction: column;
    width: calc(100% - 10px);
    gap: 20px;
  }
  .sec4_box2 a {
    width: 118px;
  }
  .customer_sec4_txt h3 {
    font-size: 18px;
  }
  .customer_sec4_txt span {
    font-size: 28px;
  }
  .sec4_customer_btn {
    flex-direction: row;
    gap: 20px;
  }
  /* 노트북 sec5 */

  /* 노트북 sec6 */
  .sec6_table {
    width: 90%;
  }

  /* --------------------------------------------------------------------------------- */
  /* footer*/
  .footer_select_box {
    display: none;
  }
  .footer_bottom {
    padding: 20px;
  }
  .footer_sbox {
    margin-bottom: 21px;
    /* display: block; */
  }
  .footer_bottom .footer_right_logo {
    right: 52px;
    top: 67px;
  }
  /* 노트북  사이드 전체 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 노트북 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 709px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
  /* 노트북 메뉴 끝 */
}
@media screen and (max-width: 1280px) {
  /* 상단 로고*/
  .logo {
    padding: 0px 20px 0px 17px;
  }
  /* 상단 menu */
  #menu > ul {
    width: 88%;
  }
  /* ---------------------------------------------------------------- */
  /* 수정사항 없음 */
  /* ---------------------------------------------------------------- */
  /* footer */
  .footer_menu ul {
    padding: 15px;
  }
  .footer_select_box {
    display: block;
  }
  .footer_sbox {
    display: none;
  }

  .footer_bottom .footer_right_logo {
    right: 31px;
    top: 45px;
  }
}
