@charset 'utf-8';
/* 모바일 */
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 13px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  .search_wrap {
    display: none;
  }
  .logo {
    margin: 0;
  }
  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    background-color: #23a18c;
    justify-content: center;
    align-items: center;
    display: none;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 섹션 1 모바일 메인 비쥬얼 */
  .main_visual_wap {
    width: fit-content;
    height: auto;
  }
  /* 메인 비쥬얼 숨김 */
  .main_visual_img .big_main_img {
    display: none;
  }

  .main_visual_img .mobile_small_img {
    margin-top: -90px;
    display: block;
  }

  .main_beanist > h2 {
    display: block;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 34px;
    padding: 0;
    box-sizing: border-box;
  }
  .main_beanist > h2 > span {
    font-size: 30px;
    margin-top: 50px;
  }
  .beanist_img_wrap p:nth-child(3) {
    display: none;
  }

  .beanist_img_wrap p:nth-child(2) {
    display: block;
    font-size: 12px;
    word-wrap: break-word;
  }

  /* 섹션 2 */
  .sec2 {
    width: 100%;
    position: relative;

    text-align: center;
  }
  .factory_con {
    padding: 0;
    margin: 0 auto;
  }
  .factory_con .df_img {
    width: 100%;
    bottom: 100px;
  }

  /* 여기다시 */
  .factory_con .df_img {
    width: 100%;
  }
  .factory_con .btn_01 {
    float: none;
  }
  .factory_con .btn_02 {
    float: none;
  }
  .factory_con > img {
    display: none;
  }
  .factory_con .factory_text {
    display: block;
  }
  .sec3,
  .sec4,
  .sec5,
  footer {
    display: none;
  }
  /* 모바일 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    display: none;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 모바일 로그인 */
  .mobile_account_wrap {
    width: auto;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
  }
  .mobile_account ul {
    width: 100%;
    padding: 10px;
  }
  /* 모바일 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    padding: 10px;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  /* 모바일 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  /* 모바일 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 30px 0 0 130px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
}
