@charset 'utf-8';
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 13px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }

  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }
  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_top {
    margin: 0;
    padding: 0;
  }
  .footer_menu {
    display: block;
    text-align: center;
    padding: 0;
    position: relative;
  }
  .footer_menu ul {
    width: auto;
    display: block;
    margin: 0 auto;
    display: inline-block;
    margin: 3px 30px 3px 0;
  }

  .footer_select_box {
    display: none;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    padding: 18px 40px 4px;
  }
  .footer_bottom img {
    margin-top: 20px;
  }
  .footer_sbox {
    order: 0;
    display: block;
  }

  .footer_bottom .footer_right_logo {
    position: static;
    order: -1;
    z-index: 1;
  }

  /* 모바일 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 모바일 로그인 */
  .mobile_account_wrap {
    width: auto;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    padding: 10px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 10px;
  }
  /* 모바일 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 모바일 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 모바일 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 145px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }

  /* 모바일 sec1 */
  .been_products_con {
    width: 100%;
  }
  .sec1 {
    height: 160px;
    background-position: -177px;
    background-size: 209%;
    padding: 80px 0;
    margin-bottom: 148px;
  }
  .sec1 h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sec1 p {
    display: none;
  }
  .sec1 .been_menu_btn {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 52px;
  }
  .sec1 .been_menu_btn .pr_btn {
    width: calc(100% / 2);
    height: 37px;
    border-right: 1px solid #84847c;
    border-top: 1px solid #84847c;
    box-sizing: border-box;
    line-height: 36px;
  }
  .sec1 .been_menu_btn .pr_btn:nth-child(1) {
    background-color: #84847c;
    color: #fff;
  }
  .sec1 .been_menu_btn .pr_btn:nth-child(5) {
    border-bottom: 1px solid #84847c;
  }
  .sec1 .been_menu_btn .pr_btn:nth-child(6) {
    border-bottom: 1px solid #84847c;
  }

  .sec1 .been_menu_btn .pr_btn:hover {
    background-color: #84847c;
    color: #fff;
  }
  .sec1 .been_menu_btn .pr_btn1 {
    height: 37px;
    width: 50%;
    margin-right: auto;
    border-right: 1px solid #84847c;
    border-bottom: 1px solid #84847c;
    box-sizing: border-box;
    line-height: 36px;
  }
  .sec1 .been_menu_btn .pr_btn1:hover {
    background-color: #84847c;
    color: #fff;
  }
  /* 모바일 sec2 */
  .sec2 h2 {
    font-size: 30px;
    color: #223c85;
    font-weight: 600;
  }
  .sec2 p {
    font-size: 18px;
  }
  /* 모바일 sec3 */
  .sec3 {
    width: 95%;
    margin: 0 auto;
  }
  .sec3 .been_products_con {
    border: 1px solid #d9d9d9;
    box-sizing: border-box;
    flex-direction: column;
  }
  .sec3 .been_products1,
  .been_products2 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .been_products1 span {
    line-height: 34px;
  }
  /* 모바일 sec4 */
  .been_products_btn {
    margin-left: 10px;
  }
  .been_products_btn a:first-child {
    width: 100px;
  }
  .been_products_btn a:last-child {
    width: 100px;
  }
  /* 모바일 sec5 */
  .been_products_list {
    flex-direction: column;
    align-items: center;
  }
  .been_products_list .been_products_line1::after {
    display: none;
  }
  .been_products_list .been_products_line2::after {
    display: none;
  }
  .been_products_list .been_products_line3::after {
    display: none;
  }
  /* 모바일 sec6 */
  .sec6 {
    width: 95%;
    margin: 0 auto;
  }
  .been_products_card_wrap {
    width: 100%;
    flex-direction: column;
    gap: 10px;
  }
  .pro_icon {
    display: none;
  }
  .sec6 .been_products_con h2 {
    margin: 0px 10px 30px;
  }
  .been_pro_box1 > p,
  .been_pro_box2 > p,
  .been_pro_box3 > p {
    font-size: 15px;
    width: 252px;
  }

  .been_pro_box1,
  .been_pro_box2,
  .been_pro_box3 {
    width: auto;
    height: auto;
    gap: 10px;
    align-items: center;
    padding: 25px;
  }

  /* 모바일 sec7 */
  .been_merit_con {
    gap: 23px;
  }
  .been_merit_con {
    flex-direction: column;
  }
  .sec7 .been_products_con h2 {
    margin: 27px 10px 30px;
  }
  .been_merit_circle1 {
    width: 240px;
    height: 240px;
  }
  .been_merit_circle1 img {
    top: 61px;
    left: 128px;
  }
  .been_merit_circle1 p {
    left: 109px;
  }

  .been_merit_circle2 {
    width: 240px;
    height: 240px;
  }

  .been_merit_circle2 img {
    top: 329px;
    left: 133px;
  }
  .been_merit_circle2 p {
    top: 411px;
    left: 109px;
  }
  .been_merit_circle3 {
    width: 240px;
    height: 240px;
  }
  .been_merit_circle3 img {
    top: 575px;
    right: 135px;
  }
  .been_merit_circle3 p {
    top: 656px;
    right: 101px;
  }
}
/* 테블릿 */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header_top {
    height: 30px;
    width: 100%;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  #site {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #site > ul > li {
    width: 153px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }
  #menu > ul {
    display: none;
  }
  /* 테블릿 상단 검색창*/

  .search_wrap {
    display: none;
  }
  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 테블릿 상단 로고 */
  .header_bottom .logo {
    padding: 10px;
    margin: 0;
    display: block;
    float: left;
  }

  .m_icon {
    float: right;
    transform: translateY(9px);
    margin-right: 20px;
  }
  /* 테블릿 footer */
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_select_box {
    display: none;
  }
  .footer_menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 10px 78px;
    box-sizing: border-box;
  }
  .footer_menu ul li {
    display: inline-block;
    margin: 2px 10px 0px 6px;
  }
  .footer_bottom {
    padding: 10px;
    padding-top: 150px;
    box-sizing: border-box;
  }
  .footer_sbox {
    margin-bottom: 20px;
    display: block;
  }
  .footer_bottom .footer_right_logo {
    right: 332px;
    top: 30px;
  }
  /* 테블릿 메뉴 왼쪽 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 55px;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -30px;
  }
  .mobile_con {
    width: 85%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 테블릿 로그인 */
  .mobile_account_wrap {
    width: fit-content;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
  }
  /* 테블릿 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 테블릿 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 테블릿 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 0px 15px 450px;
  }
  .mobile_search input {
    width: 150px;
    height: 20px;
    background-size: contain;
  }
  /* 테블릿 sec1 */
  .been_products_con {
    width: 100%;
  }
  .sec1 {
    height: 220px;
    background-position: -53px;
    background-size: 110%;
    padding: 80px 0;
    margin-bottom: 143px;
    margin-top: 44px;
  }
  .sec1 h2 {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .sec1 p {
    display: none;
  }
  .sec1 .been_menu_btn {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 104px;
  }
  .sec1 .been_menu_btn .pr_btn {
    width: calc(100% / 2);
    height: 37px;
    border-right: 1px solid #84847c;
    border-top: 1px solid #84847c;
    box-sizing: border-box;
    line-height: 36px;
  }
  .sec1 .been_menu_btn .pr_btn:nth-child(1) {
    background-color: #84847c;
    color: #fff;
  }
  .sec1 .been_menu_btn .pr_btn:nth-child(5) {
    border-bottom: 1px solid #84847c;
  }
  .sec1 .been_menu_btn .pr_btn:nth-child(6) {
    border-bottom: 1px solid #84847c;
  }

  .sec1 .been_menu_btn .pr_btn:hover {
    background-color: #84847c;
    color: #fff;
  }
  .sec1 .been_menu_btn .pr_btn1 {
    height: 37px;
    width: 50%;
    margin-right: auto;
    border-right: 1px solid #84847c;
    border-bottom: 1px solid #84847c;
    box-sizing: border-box;
    line-height: 36px;
  }
  .sec1 .been_menu_btn .pr_btn1:hover {
    background-color: #84847c;
    color: #fff;
  }
  /* 테블릿 sec2 */
  .sec2 h2 {
    font-size: 30px;
  }
  .sec2 p {
    font-size: 17px;
    line-height: 30px;
  }
  .been_products_con > p > br {
    display: block;
  }
  /* 테블릿 sec3 */
  .sec3 .been_products_con {
    width: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .sec3 .been_products1 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .sec3 .been_products2 {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /* 테블릿 sec4 */

  .been_products_btn a:first-child {
    width: 216px;
    margin-left: 20px;
  }
  .been_products_btn a:last-child {
    width: 216px;
  }
  /* 테블릿 sec5 */
  .sec5 {
    width: 100%;
  }
  .been_products_list .been_products_line1::after,
  .been_products_list .been_products_line2::after,
  .been_products_list .been_products_line3::after {
    display: none;
  }
  .been_products_list {
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  .been_products_list > div {
    width: fit-content;
  }
  /* 테블릿 sec6 */
  .sec6 .been_products_con h2 {
    margin: 0px 25px 30px;
  }
  .been_products_card_wrap {
    flex-direction: column;
    gap: 20px;
  }
  .pro_icon {
    display: none;
  }
  .been_pro_box1,
  .been_pro_box2,
  .been_pro_box3 {
    width: 95%;
    height: 126px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f4f4f2;
  }
  .been_pro_box1 > p,
  .been_pro_box2 > p,
  .been_pro_box3 > p {
    font-size: 15px;
    padding-right: ;
  }
  /* 테블릿 sec7 */
  .been_merit_con {
    gap: 20px;
  }
  .sec7 .been_products_con h2 {
    margin: 0px 25px 30px;
  }
  /* 동그라미1 */
  .been_merit_circle1 {
    width: 226px;
    height: 226px;
  }
  .been_merit_circle1 img {
    top: 61px;
    left: 108px;
  }
  .been_merit_circle1 p {
    top: 145px;
    left: 86px;
  }
  /* 동그라미2 */
  .been_merit_circle2 {
    width: 226px;
    height: 226px;
  }

  .been_merit_circle2 img {
    top: 61px;
    left: 363px;
  }
  .been_merit_circle2 p {
    top: 145px;
    left: 338px;
  }
  /* 동그라미3 */
  .been_merit_circle3 {
    width: 226px;
    height: 226px;
  }
  .been_merit_circle3 img {
    top: 61px;
    right: 114px;
  }
  .been_merit_circle3 p {
    top: 145px;
    right: 79px;
  }
}
