@charset 'utf-8';
@media screen and (min-width: 320px) and (max-width: 768px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 13px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }

  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }
  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_top {
    margin: 0;
    padding: 0;
  }
  .footer_menu {
    display: block;
    text-align: center;
    padding: 0;
    position: relative;
  }
  .footer_menu ul {
    width: 100%;
    display: block;
    margin: 0 auto;
    display: inline-block;
    margin: 3px 30px 3px 0;
  }

  .footer_select_box {
    display: none;
  }
  .footer_bottom {
    display: flex;
    flex-direction: column;
    padding: 18px 40px 4px;
  }
  .footer_bottom img {
    margin-top: 20px;
  }
  .footer_sbox {
    order: 0;
  }

  .footer_bottom .footer_right_logo {
    position: static;
    order: -1;
    z-index: 1;
  }

  /* 모바일 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 모바일 로그인 */
  .mobile_account_wrap {
    width: auto;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    padding: 10px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 10px;
  }
  /* 모바일 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 모바일 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 모바일 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 145px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
  .been_affiliate_cards_con {
    width: 100%;
  }
  /* 모바일 sec1 */
  .aff_card_sec1 {
    height: 163px;
    background-position: -174px;
    background-size: 207%;
    padding: 0;
  }
  .aff_card_sec1 h1 {
    font-size: 30px;
    line-height: 160px;
  }
  .aff_card_sec1 p {
    display: none;
  }
  .aff_card_btn {
    width: 100%;
  }
  .aff_card_btn a {
    height: auto;
    width: calc(100% / 2);
  }

  /* 모바일 sec2 */
  .been_affiliate_cards_con {
    width: 95%;
  }
  .been_affiliate_cards_con > h2 {
    font-size: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .been_affiliate_cards_con > h2::after {
    margin-top: 10px;
  }
  .been_affiliate_cards_con img {
    width: 100%;
    max-width: 400px;
    margin: 19px auto 60px;
  }
  .aff_sec2_boxs {
    flex-direction: column;
    gap: 0;
  }
  .aff_sec2_boxs .sec2_box1,
  .sec2_box2,
  .sec2_box3 {
    width: 92%;
    height: auto;
    max-width: 320px;
    padding: 30px 0;
    margin: 0 auto 40px;
  }
  .aff_sec2_boxs .sec2_box1 > h2 {
    font-size: 18px;
    margin: 0;
  }
  .aff_sec2_boxs .sec2_box1 p > span {
    font-size: 20px;
  }

  .aff_sec2_boxs .sec2_box2 > h2 {
    font-size: 18px;
    line-height: 34px;
  }
  .aff_sec2_boxs .sec2_box2 p > span {
    font-size: 20px;
  }
  .aff_sec2_boxs .sec2_box3 > h2 {
    font-size: 18px;
    line-height: 34px;
  }
  .aff_sec2_boxs .sec2_box3 p > span {
    font-size: 20px;
  }
  /* 모바일 sec3 */
  .aff_card_design {
    flex-direction: column;
    align-items: center;
  }
  .card_design {
    width: 53%;
  }
  .card_design > div {
    overflow: visible;
  }
  .been_affiliate_cards_con img {
    margin: 19px 18px 60px;
  }
  .been_affiliate_cards_con > p {
    font-size: 18px;
  }
  .been_affiliate_cards_con > a {
    width: 160px;
    height: 45px;
    font-size: 18px;
    line-height: 45px;
    font-weight: 600;
  }
} /* 테블릿 */
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .header_top {
    height: 30px;
    width: 100%;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  #site {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #site > ul {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }
  #site > ul > li {
    width: 153px;
    height: 30px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }
  #menu > ul {
    display: none;
  }
  /* 테블릿 상단 검색창*/

  .search_wrap {
    display: none;
  }
  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 테블릿 상단 로고 */
  .header_bottom .logo {
    padding: 10px;
    margin: 0;
    display: block;
    float: left;
  }

  .m_icon {
    float: right;
    transform: translateY(9px);
    margin-right: 20px;
  }
  /* 테블릿 footer */
  footer {
    width: 100%;
    height: 100%;
  }
  .footer_select_box {
    display: none;
  }
  .footer_menu ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 10px 78px;
    box-sizing: border-box;
  }
  .footer_menu ul li {
    display: inline-block;
    margin: 2px 10px 0px 6px;
  }
  .footer_bottom {
    padding: 10px;
    padding-top: 150px;
    box-sizing: border-box;
  }
  .footer_sbox {
    margin-bottom: 20px;
  }
  .footer_bottom .footer_right_logo {
    right: 332px;
    top: 30px;
  }
  /* 테블릿 메뉴 왼쪽 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    position: absolute;
    left: 55px;
    z-index: 999;
    display: block;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -30px;
  }
  .mobile_con {
    width: 85%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 테블릿 로그인 */
  .mobile_account_wrap {
    width: fit-content;
    height: auto;
    display: block;
    border-bottom: 1px solid #0e2257;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 70px;
  }
  .mobile_account ul {
    width: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-left: 20px;
  }
  /* 테블릿 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }
  .m_xicon img {
    margin: 20px;
  }
  /* 테블릿 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 테블릿 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 40px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 0px 15px 450px;
  }
  .mobile_search input {
    width: 150px;
    height: 20px;
    background-size: contain;
  }
  /* 테블릿 sec1 */
  .aff_card_sec1 {
    margin-top: 15px;
    height: 163px;
    background-position: -61px;
    background-size: 117%;
  }
  .aff_card_sec1 > h1 {
    height: 107px;
    font-size: 30px;
  }
  .aff_card_sec1 p {
    display: none;
  }
  .aff_card_btn {
    width: 100%;
  }
  .aff_card_btn a {
    height: auto;
    width: calc(100% / 2);
  }
  /* 테블릿 sec2 */
  .been_affiliate_cards_con {
    width: 95%;
  }
  .been_affiliate_cards_con > h2 {
    font-size: 20px;
  }
  .been_affiliate_cards_con > h2::after {
    margin-top: 11px;
  }

  .been_affiliate_cards_con img {
    width: 100%;
    max-width: 400px;
    margin: 19px auto 60px;
  }
  .aff_sec2_boxs {
    gap: 15px;
  }
  .aff_sec2_boxs .sec2_box1,
  .sec2_box2,
  .sec2_box3 {
    width: auto;
    padding: 14px 11px 0px 12px;
  }
  .aff_sec2_boxs .sec2_box1 > h2 {
    font-size: 18px;
  }

  .aff_sec2_boxs .sec2_box1 p > span {
    font-size: 20px;
  }
  .aff_sec2_boxs .sec2_box2 > h2 {
    font-size: 18px;
  }
  .aff_sec2_boxs .sec2_box2 p > span {
    font-size: 20px;
  }
  .aff_sec2_boxs .sec2_box3 > h2 {
    font-size: 18px;
  }
  .aff_sec2_boxs .sec2_box3 p > span {
    font-size: 20px;
  }
  /* 테블릿 sec3 */
  .aff_card_design {
    flex-wrap: wrap;
    align-items: center;
  }
  .card_design {
    width: 34%;
    margin: 0 auto;
  }
  .card_design > div {
    width: 100%;
  }
  /* 테블릿 sec4 */
  .been_affiliate_cards_con > p {
    font-size: 20px;
  }
  .been_affiliate_cards_con > a {
    width: 220px;
    height: 55px;
    font-size: 20px;
    line-height: 49px;
    font-weight: 600;
  }
}
/* 노트북 */ /* 노트북 */ /* 노트북 */ /* 노트북 */ /* 노트북 */ /* 노트북 */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .header_top {
    width: 100%;
    height: 30px;
  }
  .header_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #site > ul > li {
    width: auto;
    height: 40px;
    padding: 0 96px;
    line-height: 37px;
    font-size: 12px;
  }
  #account {
    display: none;
  }
  .sns {
    display: none;
  }
  /* 상단 검색창*/

  .search_wrap {
    display: none;
  }

  .logo {
    margin: 0;
  }

  /* 햄버거 아이콘 */
  .m_icon {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #menu {
    background-color: rgb(81, 89, 112);
    display: none;
  }
  /* 노트북 전체 */
  .mobile_wrap {
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: -90px;
  }
  .mobile_con {
    width: 100%;
    height: 100%;
    background-color: #1d326c;
    color: #fff;
    font-size: 14px;
  }
  /* 노트북 상단 SNS */
  .mobile_sns {
    display: flex;
    justify-content: flex-start;
    padding: 0;
  }
  .mobile_sns img {
    display: block;
    width: 28px;
    height: 28px;
  }

  .m_xicon img {
    padding: 21px 38px 0 100px;
  }
  /* footer*/
  .footer_select_box {
    display: none;
  }
  .footer_bottom {
    padding: 20px;
  }
  .footer_sbox {
    margin-bottom: 21px;
  }
  .footer_bottom .footer_right_logo {
    right: 52px;
    top: 67px;
  }
  /* 노트북  사이드 전체 메뉴 */
  #mobile_gnb {
    width: 100%;
    height: auto;
    font-size: 16px;
  }

  #mobile_gnb > ul {
    line-height: 40px;
  }

  #mobile_gnb > ul > li {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    cursor: pointer;
  }
  #mobile_gnb > ul > li a {
    padding-left: 25px;
    box-sizing: border-box;
    display: block;
    width: 100%;
    height: 100%;
  }
  #mobile_gnb > ul > li:hover > .mobile_submenu {
    display: block;
  }
  .mobile_arrow .up {
    display: none;
  }
  /* 노트북 서브 메뉴 */
  .mobile_submenu {
    background-color: #2a4181;
    display: none;
    line-height: 40px;
    border-bottom: 1px solid #0e2257;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  .mobile_submenu li {
    border-bottom: solid 1px #203570;
  }

  .mobile_arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
  }
  .mobile_store_find {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    line-height: 50px;
    background: #192d65;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid #0e2257;
    font-size: 15px;
  }
  .mobile_store_find img {
    width: 15px;
    height: 20px;
    margin: 15px 15px;
  }
  .mobile_search {
    width: auto;
    margin: 15px 17px 20px 709px;
  }
  .mobile_search input {
    width: 100px;
    height: 20px;
  }
  /* 노트북 sec 1 */
  .been_affiliate_cards_con {
    width: 90%;
  }
  .aff_card_sec1 {
    height: 220px;
    background-position: -7px;
    background-size: 102%;
    padding: 120px 0;
  }
  .aff_card_sec1 > h1 {
    font-size: 35px;
  }
  .aff_card_sec1 p {
    line-height: 97px;
  }
  .aff_card_btn {
    width: 100%;
  }
  .aff_card_btn a {
    height: auto;
    width: calc(100% / 2);
  }
  /* 노트북 sec2 */
  .been_affiliate_cards_con > h2 {
    font-size: 23px;
    margin-top: 70px;
  }
  .been_affiliate_cards_con > h2::after {
    margin-top: 14px;
  }
  .been_affiliate_cards_con img {
    width: 60%;
  }
  .aff_sec2_boxs {
    gap: 24px;
  }
  .aff_sec2_boxs .sec2_box1 > h2 {
    font-size: 18px;
    line-height: 32px;
  }
  .aff_sec2_boxs .sec2_box1 p > span {
    font-size: 20px;
  }

  .aff_sec2_boxs .sec2_box2 > h2 {
    font-size: 18px;
    line-height: 38px;
  }
  .aff_sec2_boxs .sec2_box2 p > span {
    font-size: 20px;
  }
  .aff_sec2_boxs .sec2_box3 > h2 {
    font-size: 18px;
    line-height: 38px;
  }
  .aff_sec2_boxs .sec2_box3 p > span {
    font-size: 20px;
  }
  .aff_sec2_boxs .sec2_box1,
  .sec2_box2,
  .sec2_box3 {
    width: 273px;
    height: 210px;
    padding: 24px 0;
  }
  /* 노트북 sec3 */
  .aff_card_design {
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    row-gap: 40px;
    margin-top: 50px;
  }
  .card_design {
    width: 28%;
  }
  .card_design img {
    width: 60%;
  }
  .card_design > div {
    width: 350px;
    height: 350px;
    overflow: hidden;
  }

  .aff_card_design h2 {
    width: 92%;
    text-align: center;
  }
  /* 노트북 sec4 */
  .been_affiliate_cards_con > p {
    font-size: 18px;
  }

  .been_affiliate_cards_con > a {
    width: 220px;
    height: 55px;
    line-height: 56px;
  }
}
@media screen and (max-width: 1280px) {
  /* 상단 로고*/
  .logo {
    padding: 10px 20px 0px 17px;
  }
  /* 상단 menu */
  #menu > ul {
    width: 86%;
  }
  /* footer */
  .footer_menu ul {
    padding: 15px;
  }
  .footer_sbox {
    display: block;
  }

  .footer_bottom .footer_right_logo {
    right: 31px;
    top: 45px;
  }
}
